{% extends 'base.html.j2' %}

{% block title %}
  Issue Strike — {{ account.username }}
{% endblock title %}

{% block content_before %}
  Issue Strike — {{ account.username }}
{% endblock content_before %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    <div class="card shadow-sm mx-auto pb-3 bg-dark border-primary" style="width: 40rem;">
      <div class="card-body">
        {{ helper.render_field(form.reason) }}
        {{ helper.render_submit_field(form.submit) }}
      </div>
    </div>
  </form>
{% endblock content %}
