{% extends 'base.html.j2' %}

{% block title %}
  Viewing {{ account_data.username }}
{% endblock %}

{% block content_before %}
  Viewing {{ account_data.username }}
  {% if current_user.id == account_data.id %}
    <br/>
     Hey, this is you!
  {% endif %}
{% endblock %}

{% block content %}
  {% include 'partials/_account.html.j2' %}
  {% if invites %}
    <br/>
    <h3 class="text-center">Sent Invitations</h3>
    <hr class="bg-primary"/>
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th>Email</th>
          <th>Token</th>
        </tr>
      </thead>
      <tbody>
        {% for invite in invites %}
          <tr>
            <td>{{ invite.email }}</td>
            <td><code>{{ invite.token }}</code></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock content %}


{% block content_after %}
  <br/>
  <br/>
  <h3 class="text-center">Characters</h3>
  <hr class="bg-primary"/>
  <div class="card-columns">
    {% for character in account_data.charinfo %}
      {% include 'partials/_character.html.j2' %}
    {% endfor %}
  </div>
{% endblock content_after %}
